@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+3D&family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shizuru&display=swap");
:root {
  --black: black;
  --white: white;
  --primary: #3374db;
}

@mixin button-custom($black, $white) {
  background-color: $black;
  color: $white;
  padding: 0 100px;
  border-radius: 10px;
  border: none;
  margin-bottom: 24px;
  &:hover {
    background-color: $white;
    color: $black;
    border: $black 1px solid;
    cursor: pointer;
  }
  > p {
    font-weight: 600;
  }
}
